
:root {
    --vert: #4f805d;
    --vertclair: #8bb092;
}
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
    /*font-family: Verdana, sans-serif;*/
    /*font-weight: 300;*/
    /*font-size: 1.5em;*/
    /*line-height: 1.3;*/
    font: 400 13px/1.3 verdana, sans-serif;
    overflow-x: hidden;
}


ul, ol {
    list-style: none;
}

img {
    width: 100%;
}

.clear:before, .clear:after {content: ' '; display: table;}
.clear:after {clear: both;}
.clear {*zoom: 1;}


.wrap {
    max-width: 1440px;
    margin: auto;
    width: 100%;
}

.flex {display: flex;}
.column {flex-direction: column}
.sb {justify-content: space-between}

.relative {position: relative}
.absolute {position: absolute}

header .logo_img {
    width: 150px;
    border-radius: 50%;
}
header ul {
    width: 40%;
}

header .registerBtn {
    background-color: black;
    color: white;
    height: 42px;
    padding: 0 20px ;
    margin: auto 0;
    border-radius: 10px;
}

header .registerBtn a {
    color: white;
    height: 42px;
    margin: auto;
}








































































































































































/* INSCRIPTION */


#register_form {
    font: 400 13px/1.3 poppins, sans-serif;
    background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)),url("../img/fond-inscription.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding:50px;
    height: 100vh;


}


#register_form .wrap2 {
    background-color: white;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    z-index: 1;

}

#register_form .info_box{
    padding-top: 30px;

}
#register_form h1 {
    padding-top: 20px;
    text-align: center;
}
#register_form h3 {

}

#register_form input{
    border: none;
    width: 100%;
    padding: 10px 5px;

}
#register_form input[type="submit"] {
    background-color: #373737;
    border-radius: 10px;
    color: white;
    width: 100px;
    cursor: pointer;
    padding: 10px;
    font: 500 13px/1.3 poppins, sans-serif;
}

#register_form input[type="submit"]:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transform:translateX(3px);
    transition:0.3s;
}


#register_form .info_box_button{
    margin-top: 50px;
    text-align: center;


}

#register_form .error {
    color: red;
}

