:root {
    --vert: #4f805d;
    --vertclair: #8bb092;
}
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: white;
    color: black;
    /*font-family: Verdana, sans-serif;*/
    /*font-weight: 300;*/
    /*font-size: 1.5em;*/
    /*line-height: 1.3;*/
    font: 400 13px/1.3 Arvo,serif;

    overflow-x: hidden;
}
ul, ol {
    list-style: none;
}
img {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}
.clear:before, .clear:after {content: ' '; display: table;}
.clear:after {clear: both;}
.clear {*zoom: 1;}
.wrap {
    max-width: 1440px;
    margin: auto;
    width: 100%;
    padding: 0 10px;
}
.flex {display: flex;}
.column {flex-direction: column}
.sb {justify-content: space-between}
.relative {position: relative}
.absolute {position: absolute}




header, footer {
    font-weight: bold;
    font-size: 0.9rem;
    font-family: poppins;
}

header .logo_img, footer .logo_img {
    height: 100px;
    margin: 5px 0;
}
header .headerBtns {
    width: 30%;
    text-align: center;
    justify-content: space-around;
    min-width: 300px;
}
header .registerBtn, header .logoutBtn {
    margin: auto 0;
}
header .registerBtn a {
    background-color: black;
    color: white;
    height: 42px;
    padding:12px 30px;
    border-radius: 10px;
    margin: auto 0;
    transition: 0.2s;
}
header .logoutBtn a {
    background-color: darkred;
    color: white;
    height: 42px;
    padding:12px 22px ;
    border-radius: 10px;
    margin: auto 0;
    transition: 0.2s;
}
header .registerBtn a:hover {
    background-color: white;
    outline: solid black 2px;
    color: black;
}

header .logoutBtn a:hover {
    background-color: white;
    outline: solid darkred 2px;
    color: darkred;
}

header ul {
    width: 30%;
}
header ul li {
    width: 33%;
    margin: auto 0;
}
header ul li a {
    width: 100%;
    display: inline-block;
    padding: 0px;
    border-radius: 10px;
    transition: 0.2s;
    text-align: center;
    background-color: rgba(0,0,0,0);
}
header ul li a:hover {
    background-color: rgba(0,0,0,0.2)
}

header ul li a img{
    width: 30px;
    margin: 5px auto;
}
header ul li a p {
    padding: 5px;
}

/*header .header_logo {*/
/*width:200px;*/
/*}*/

/*PARTIE ACCUEIL    */
#accueil{
    height:100vh;
    /*background: url("../img/bg/home.jpg") no-repeat center center/cover;*/
    background-image: radial-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("../img/bg/home.jpg");
    background-size: cover;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap:3rem;
}
#accueil h1{
    margin-top: 125px;
    color:white;
    font-size: 3rem;
    font-family: poppins;
}
#accueil img{
    color:white;
}
#accueil .accueil_flex{
    display:flex;
    flex-flow: column;
    align-items: center;
    gap:3rem;
}
#accueil .catchphrase {
    width: 100%;
    font-size: 3.5rem;
    font-family: poppins;
    color: #ffffff;
    text-shadow:
    0 0 10px #ababab,
    0 0 42px rgb(150, 190, 138);
    margin-bottom: 10rem;
    text-align: center;

}

.down_arrow a.down-arrow{
    width: 100px;
    animation: arrow 1s ease-in-out infinite alternate;
    display: block;
    margin: auto;
}
@keyframes arrow {
    from {
        opacity: 1;
        margin-top: 0;
    }
    to {
        opacity: 0.2;
        margin-top: 2rem;
    }
}


/*PARTIE INFO*/
#info{
    font: 400 13px/1.3 Poppins, sans-serif;
    padding-top: 5rem;
}
#info .wrap{
    display:flex;
    flex-flow: column;
    gap:3rem;
}
#info .box_info{
    display:flex;
    justify-content: center;
    gap:2.5rem;
}
#info .box_info:nth-child(2n){
    flex-flow: row-reverse nowrap;
}
#info .info_img{
    width:15%
}
#info .info_txt{
    width:50%;
    display:flex;
    flex-flow:column;
    gap:1.5rem;
    line-height: 1.25rem;
}

/*Partie Services*/
#services{
    background-color:black;
    color:white;
    padding-bottom: 2rem;
    margin-top:5rem;
}
#services .wrap{
    display:flex;
    flex-flow: column;
    align-items: center;
}
#services .services_title h2{
    text-align: center;
    padding:2rem;
}
#services .slider_box{width:80%;}
#services .flexslider{position:relative;z-index: 1;
}
#services .slide_item{
    z-index:2;
    position:absolute; margin-left:4rem;
    display:flex;flex-flow: column;gap:2rem;justify-content: center;align-items: center;
    background: grey;
    width:300px;height:481.5px;

}
#services .slide_item h2,p {
    padding:1rem;
}

footer>div {
    justify-content: space-around;
}
footer>p {
    text-align: center;
    margin: 1rem 0 2rem 0;
}
footer ul {
    margin: auto 0;
}
footer ul li {
    margin: 1rem 0;
}
footer a {
    transition: 0.1s;
}
footer a:hover {
    color: rgba(0,0,0,0.7);
}









/* INSCRIPTION */


#register_form {
    font: 400 13px/1.3 poppins, sans-serif;
    background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)),url("../img/fond-inscription.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding:50px;
    height: 100vh;


}


#register_form .wrap2 {
    background-color: white;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    z-index: 1;

}

#register_form .info_box{
    padding-top: 30px;

}
#register_form h1 {
    padding-top: 20px;
    text-align: center;
}
#register_form h3 {

}

#register_form input{
    border: none;
    width: 100%;
    padding: 10px 5px;

}
#register_form input[type="submit"] {
    background-color: #373737;
    border-radius: 10px;
    color: white;
    width: 100px;
    cursor: pointer;
    padding: 10px;
    font: 500 13px/1.3 poppins, sans-serif;
}

#register_form input[type="submit"]:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transform:translateX(3px);
    transition:0.3s;
    background-color: #666666;
}


#register_form .info_box_button{
    margin-top: 50px;
    text-align: center;


}

#register_form .error {
    color: red;
}

/*Se connecter*/

#register_form {}
#register_form h2 {
    text-align: center;
}


#register_form .info_box_button_insc {
    padding-top: 30px;
    text-align: center;
}

#register_form .miss:hover {
    color: cornflowerblue;

}

#register_form p {
    color: darkgrey;
    padding: 10px 0;
}

/* DASHBOARD */
#dashboard_home .wrap h2:first-of-type {
    font-size: 2rem;
    text-align: center;
    padding: 2rem 1rem;
}
#dashboard_home .graph1 {
    width: 50%;
    margin: 2rem auto;
}