
:root {
    --vert: #4f805d;
    --vertclair: #8bb092;
}
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
    /*font-family: Verdana, sans-serif;*/
    /*font-weight: 300;*/
    /*font-size: 1.5em;*/
    /*line-height: 1.3;*/
    font: 400 13px/1.3 Poppins, sans-serif;
    overflow-x: hidden;
}


ul, ol {
    list-style: none;
}

img {
    width: 100%;
}
a {
    text-decoration: none;
    color: black;
}
.clear:before, .clear:after {content: ' '; display: table;}
.clear:after {clear: both;}
.clear {*zoom: 1;}


.wrap {
    max-width: 1440px;
    margin: auto;
    width: 100%;
    padding: 0 10px;
}

.flex {display: flex;}
.column {flex-direction: column}
.sb {justify-content: space-between}

.relative {position: relative}
.absolute {position: absolute}


header {
    font-weight: bold;
    font-size: 0.9rem;
}
header .logo_img, footer .logo_img {
    width: 100px;
    border-radius: 50%;
    margin: 20px 0;
}
header .headerBtns {
    width: 20%;
    text-align: center;
    justify-content: space-around;
}
header .registerBtn, header .logoutBtn {
    margin: 42px 0 auto 0;
}
header .registerBtn a {
    background-color: black;
    color: white;
    height: 42px;
    padding:12px 30px;
    border-radius: 10px;
    margin: auto 0;
    transition: 0.2s;
}
header .logoutBtn a {
    background-color: darkred;
    color: white;
    height: 42px;
    padding:12px 22px ;
    border-radius: 10px;
    margin: auto 0;
    transition: 0.2s;
}
header .registerBtn a:hover {
    background-color: white;
    outline: solid black 2px;
    color: black;
}

header .logoutBtn a:hover {
    background-color: white;
    outline: solid darkred 2px;
    color: darkred;
}

header ul {
    width: 40%;
}
header ul li {
    width: 33%;
    margin: auto 0;
}
header ul li a {
    width: 100%;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    transition: 0.2s;
    text-align: center;
    background-color: rgba(0,0,0,0);
}
header ul li a:hover {
    background-color: rgba(0,0,0,20%)
}

header ul li a img{
    width: 50px;
    margin: 10px auto;
}

footer>div {
    justify-content: space-around;
}
footer>p {
    text-align: center;
    margin: 1rem 0 2rem 0;
}
footer ul {
    margin: auto 0;
}
footer ul li {
    margin: 1rem 0;
}
footer a {
    transition: 0.1s;
}
footer a:hover {
    color: rgba(0,0,0,0.7);
}